node_modules
npm-debug.log
dist
.git
.gitignore
.github
README.md
.env
.nyc_output
coverage
.vscode
.idea
*.log
.DS_Store
Thumbs.db
.cache
.parcel-cache
.nuxt
.next
.output
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.* 